<h2 class="text-center">Submit a Joke</h2>

<form class="submit-form">
    <div class="form-group">
        <label for="username">Username: {{user.username}}</label>
    </div>
    <div class="mb-3">
        <label for="jokeSubmission" class="form-label">Tech Post:</label>
        <textarea class="form-control" id="postTitle" rows="1" placeholder="Enter the Post Title" ;></textarea>
        <br>
        <textarea class="form-control" id="postSubmission" rows="5" placeholder="Enter your post here"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<script src="/js/submit.js"></script>